<mat-card class="card mat-elevation-z8">
    <mat-card-header>
    
        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="assets/image/home-image.svg" alt="Photo of a dog">
    <mat-card-content>
        <p>
           Olá! Seja bem-vindo ao sistema Help Desk! <br>
           Esse é um sistema para gerenciamento de chamados. Esse sistema foi desenvolvido em Angular e Spring Boot 2. <br>
           O projeto tem como objetivo abordar os conceitos de aplicações SPAs, Autenticação e Autorização Tokens JWT e muito mais. 
           O código fonte do projeto pode ser acessado clicando no link Github no menu. <br>
           Atenciosamente, <br>
           João Gabriel Carvalho Lopes da Cruz.

        
        </p>
    </mat-card-content>
    
</mat-card>
